# Node
node_modules/
frontend/node_modules/

# Env
.env



# Python
__pycache__/
*.pyc
.venv/
.env/
venv/
env/

# Data
data/

# OS junk
.DS_Store

# Logs
*.log

# Build outputs
frontend/build/
backend/.pytest_cache/

# VS Code
.vscode/